img {
    display: block;
    width: 10%;
    margin-right: auto;
    margin-left: auto;
}

h1 {
    text-align: center;
}

ul {
    display: block;
    list-style: none;
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 0;
}

a {
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
}
