@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

.content {
    font-family: 'Heebo', sans-serif;
    margin: 2em;
    color: #000000
}

p {
    margin: 3em 5em 1em 5em;
    text-align: justify;
    line-height: 2em;
}

a {
    font-weight: bold;
}

a:link, a:visited {
    color: #000000;
    text-decoration: none;
}

.current a:link, .current a:visited{
    color: #ff4aec;
}

a:hover, a:active {
    color: #ff4aec;
}

hr {
    border: 2px solid #ff4aec;
    width: 25%;
    margin: 1em auto 0 auto;
}

iframe {
    margin: 2em auto 0 auto;
    display: block;
}